#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh $@

override_dh_auto_configure:
	./bootstrap
	dh_auto_configure -- --disable-qt --enable-gpl --enable-libdbus \
		--enable-pulse --enable-glib --enable-ecore --enable-console \
		--enable-websockets --with-resources \
		--with-dynamic-plugins=domain-control --with-documentation=no

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_strip:
	dh_strip -plibmurphy-common0 --dbg-package=libmurphy-common-dbg
	dh_strip -plibmurphy-resource0 --dbg-package=libmurphy-resource-dbg
	dh_strip -plibmurphy-domain-controller0 --dbg-package=libmurphy-domain-controller-dbg
	dh_strip -plibmurphy-db0 --dbg-package=libmurphy-db-dbg
	dh_strip -plibmurphy-glib0 --dbg-package=libmurphy-glib-dbg
	dh_strip -plibmurphy-pulse0 --dbg-package=libmurphy-pulse-dbg
	dh_strip -plibmurphy-ecore0 --dbg-package=libmurphy-ecore-dbg
	dh_strip -plibbreedline0 --dbg-package=libbreedline-dbg
	dh_strip -pmurphy --dbg-package=murphy-dbg
	dh_strip -pmurphy-tests --dbg-package=murphy-tests-dbg
